---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de está página web</h1>
  <p>
  El objetivo de está página web es hablar sobre los recursos energéticos utilizados por la escuela ideo
  </p>
</BaseLayout>